In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.23.0'

## Changing Options with Attributes and Dot Syntax

In [3]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,43,37,72,16,29,8,61,79,63,38,...,58,57,16,5,75,86,61,43,93,75
999,75,12,2,9,15,2,50,24,93,49,...,31,6,46,74,73,9,70,66,49,70

In [4]:
pd.options.display.max_rows = 4

In [5]:
pd.options.display.max_columns = 8

In [6]:
df

     0   1   2   3  ...  46  47  48  49
0     7  60  92  52 ...  15  79  47  26
1     6  27  20   3 ...  89  79  97  85
..   ..  ..  ..  .. ...  ..  ..  ..  ..
998  43  37  72  16 ...  61  43  93  75
999  75  12   2   9 ...  70  66  49  70

[1000 rows x 50 columns]

## Changing `pandas` Options with Methods

In [8]:
data = np.random.randint(0, 100, [1000, 50])
df = pd.DataFrame(data)
df.tail(2)

     0   1   2   3  ...  46  47  48  49
998  52  28  68  25 ...  97  79  36  69
999  27  18  63  44 ...  36  59  71  32

[2 rows x 50 columns]

In [10]:
pd.get_option("max_rows")

4

In [11]:
pd.get_option("max_columns")

8

In [12]:
pd.set_option("max_columns", 20)

In [13]:
pd.options.display.max_columns = 10

In [14]:
pd.get_option("mAX_columns")

10

In [15]:
pd.reset_option("max_columns")

In [16]:
pd.get_option("max_columns")

20

In [17]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## The `precision` Option

In [58]:
df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0 -0.295331  0.297070  0.414826  0.470304 -0.824621
1  1.640154 -3.218202  0.911258 -0.117271 -0.128362
2  1.207132  1.173281  0.857209 -0.482647 -0.771982
3 -0.171130  0.303083 -0.572508 -1.133498 -1.233743
4  0.479362  1.370951  1.879856 -1.352938 -0.759176

In [59]:
pd.get_option("precision")

6

In [60]:
pd.set_option("precision", 2)

In [63]:
df

          0         1         2         3         4
0 -0.295331  0.297070  0.414826  0.470304 -0.824621
1  1.640154 -3.218202  0.911258 -0.117271 -0.128362
2  1.207132  1.173281  0.857209 -0.482647 -0.771982
3 -0.171130  0.303083 -0.572508 -1.133498 -1.233743
4  0.479362  1.370951  1.879856 -1.352938 -0.759176

In [62]:
pd.reset_option("precision")

## The `chop_threshold()` Option

In [66]:
df = pd.DataFrame(np.random.randn(10, 10))
df

,0,1,2,3,4,5,6,7,8,9
0,-0.818364,1.446785,-0.055697,-2.087401,1.704296,1.717609,0.286678,0.204999,-1.165320,-0.303707
1,-2.464529,0.388007,-0.892435,-0.250245,1.326964,-0.118699,1.306609,-1.327144,0.624324,-0.337857
2,-1.508188,0.939835,0.508410,-0.124418,1.193116,-0.856065,1.229839,0.180405,0.378934,-0.351979
3,-0.544843,1.264628,0.211928,-0.712001,1.696700,-0.493213,-1.858851,-0.249558,0.992940,0.375184
4,-1.467734,0.678502,-1.172858,0.149993,0.266336,1.294089,3.777307,1.615438,1.100312,-0.151928
5,-1.135749,0.144889,-0.632217,-0.306317,-0.387950,0.158375,0.411669,0.244311,-0.475423,-0.325315
6,0.244639,-1.070850,-0.418969,0.414589,0.294766,-1.887719,-0.509860,-1.146085,-1.192093,-0.735611
7,-0.741170,0.206655,0.753040,0.220852,-0.466147,1.373308,-1.228541,0.902801,-0.371614,-0.321379
8,0.362392,-0.916309,-1.222503,3.436910,0.418116,-0.802884,-0.004632,0.451785,-0.908589,-2.361635
9,-1.065529,-0.365192,0.402636,-0.505971,1.606791,-0.270967,-0.912278,0.555473,-0.380102,0.353819

In [69]:
pd.set_option("chop_threshold", 1)

In [71]:
pd.reset_option("chop_threshold")

In [72]:
df

,0,1,2,3,4,5,6,7,8,9
0,-0.818364,1.446785,-0.055697,-2.087401,1.704296,1.717609,0.286678,0.204999,-1.165320,-0.303707
1,-2.464529,0.388007,-0.892435,-0.250245,1.326964,-0.118699,1.306609,-1.327144,0.624324,-0.337857
2,-1.508188,0.939835,0.508410,-0.124418,1.193116,-0.856065,1.229839,0.180405,0.378934,-0.351979
3,-0.544843,1.264628,0.211928,-0.712001,1.696700,-0.493213,-1.858851,-0.249558,0.992940,0.375184
4,-1.467734,0.678502,-1.172858,0.149993,0.266336,1.294089,3.777307,1.615438,1.100312,-0.151928
5,-1.135749,0.144889,-0.632217,-0.306317,-0.387950,0.158375,0.411669,0.244311,-0.475423,-0.325315
6,0.244639,-1.070850,-0.418969,0.414589,0.294766,-1.887719,-0.509860,-1.146085,-1.192093,-0.735611
7,-0.741170,0.206655,0.753040,0.220852,-0.466147,1.373308,-1.228541,0.902801,-0.371614,-0.321379
8,0.362392,-0.916309,-1.222503,3.436910,0.418116,-0.802884,-0.004632,0.451785,-0.908589,-2.361635
9,-1.065529,-0.365192,0.402636,-0.505971,1.606791,-0.270967,-0.912278,0.555473,-0.380102,0.353819