In [2]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data

In [65]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "morningstar", 
                         start = "2010-01-01", end = "2017-12-31")
#p

## The Axes of the Panel

In [66]:
#companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

#p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

#p

companies = ["MSFT","GOOG","AAPL","ERIC","AMZN"]
start   = "2013-01-01"
end     = "2018-03-31"
d = data.DataReader(name=companies, data_source="iex", start=start, end=end)
p = pd.Panel.from_dict(d,orient="minor")

5y

/Users/KunWuYao/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:11: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

In [18]:
p.items

Index(['close', 'high', 'low', 'open', 'volume'], dtype='object')

In [19]:
p.major_axis

Index(['2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06', '2013-06-07',
       '2013-06-10', '2013-06-11', '2013-06-12', '2013-06-13', '2013-06-14',
       ...
       '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
       '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
      dtype='object', length=1216)

In [20]:
p.minor_axis

Index(['ERIC', 'AMZN', 'MSFT', 'AAPL', 'GOOG'], dtype='object')

In [21]:
p.axes

[Index(['close', 'high', 'low', 'open', 'volume'], dtype='object'),
 Index(['2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06', '2013-06-07',
        '2013-06-10', '2013-06-11', '2013-06-12', '2013-06-13', '2013-06-14',
        ...
        '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
        '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
       dtype='object', length=1216),
 Index(['ERIC', 'AMZN', 'MSFT', 'AAPL', 'GOOG'], dtype='object')]

## Panel Attributes

In [22]:
p.axes
p.items
p.major_axis
p.minor_axis

[Index(['close', 'high', 'low', 'open', 'volume'], dtype='object'),
 Index(['2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06', '2013-06-07',
        '2013-06-10', '2013-06-11', '2013-06-12', '2013-06-13', '2013-06-14',
        ...
        '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
        '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
       dtype='object', length=1216),
 Index(['ERIC', 'AMZN', 'MSFT', 'AAPL', 'GOOG'], dtype='object')]

In [23]:
p.ndim

3

In [24]:
p.dtypes

close     float64
high      float64
low       float64
open      float64
volume    float64
dtype: object

In [25]:
p.shape

(5, 1216, 5)

In [26]:
p.size

30400

In [27]:
5 *1216 * 5

30400

## Extracting `DataFrames` from a `Panel` Using Bracket Notation

In [28]:
p.items

Index(['close', 'high', 'low', 'open', 'volume'], dtype='object')

In [30]:
p["volume"]

                  ERIC        AMZN        MSFT         AAPL       GOOG
2013-06-03   4815167.0   2543880.0  51249396.0   92926932.0        NaN
2013-06-04   2635364.0   2088072.0  65529399.0   72860221.0        NaN
2013-06-05   2730180.0   3511955.0  46023857.0   72545760.0        NaN
2013-06-06   4083654.0   2468970.0  37617747.0  104230322.0        NaN
2013-06-07   2327465.0   4632239.0  40757245.0  101120551.0        NaN
2013-06-10   2631069.0   3084405.0  35991809.0  112522179.0        NaN
2013-06-11   2239112.0   3097745.0  39435445.0   71526560.0        NaN
2013-06-12   1885323.0   2237998.0  37371982.0   66295887.0        NaN
2013-06-13   2452041.0   2649715.0  45635878.0   71456693.0        NaN
2013-06-14   3672599.0   2150543.0  53191609.0   67962419.0        NaN
2013-06-17   1396433.0   2883867.0  49670032.0   64818670.0        NaN
2013-06-18   1894706.0   2146005.0  28614869.0   48753768.0        NaN
2013-06-19   2218054.0   2827248.0  30816008.0   77715057.0        NaN
2013-06-20   4470808.0   2983983.0  54493643.0   89327210.0        NaN
2013-06-21   2626637.0   4202058.0  85337340.0  120286768.0        NaN
2013-06-24   8314064.0   3863764.0  56108988.0  120104964.0        NaN
2013-06-25   4173687.0   2449510.0  44051085.0   78534687.0        NaN
2013-06-26   2798942.0   3029016.0  48665592.0   91924994.0        NaN
2013-06-27   2965900.0   2519422.0  28993042.0   84297955.0        NaN
2013-06-28   3414851.0   3193262.0  65545445.0  144619734.0        NaN
2013-07-01   1598365.0   2888140.0  31054868.0   97743408.0        NaN
2013-07-02   3835199.0   3238108.0  37629522.0  117442150.0        NaN
2013-07-03   1216664.0   1380205.0  15994380.0   60232158.0        NaN
2013-07-05   1342331.0   1985323.0  26085831.0   68505794.0        NaN
2013-07-08   1574845.0   3046664.0  32396842.0   74521398.0        NaN
2013-07-09   1354033.0   2749006.0  25318501.0   88142026.0        NaN
2013-07-10   2011164.0   1822877.0  29863085.0   70107226.0        NaN
2013-07-11   2563751.0   4007201.0  53618047.0   81571665.0        NaN
2013-07-12   2231292.0   4538473.0  35501154.0   69882694.0        NaN
2013-07-15   2419316.0   2245387.0  34142125.0   60478033.0        NaN
...                ...         ...         ...          ...        ...
2018-02-15   4692204.0   5652736.0  27823866.0   51147171.0  1843442.0
2018-02-16   2648605.0   4472564.0  30596919.0   40176091.0  1681612.0
2018-02-20   3354648.0   6499228.0  30911725.0   33930540.0  1423145.0
2018-02-21   2331953.0   6304351.0  26922503.0   37471623.0  1512910.0
2018-02-22   2518687.0   4858063.0  24392753.0   30991940.0  1317166.0
2018-02-23   5650096.0   4418103.0  26329226.0   33812360.0  1260968.0
2018-02-26   5141347.0   4954988.0  30199846.0   38162174.0  1559079.0
2018-02-27   6363071.0   4808776.0  25869119.0   38928125.0  1774080.0
2018-02-28   6612976.0   4515023.0  31167338.0   37782138.0  1882600.0
2018-03-01   4277260.0   6835230.0  37135561.0   48801970.0  2515910.0
2018-03-02   2266083.0   6587564.0  32830389.0   38453950.0  2271551.0
2018-03-05   2451177.0   5233934.0  23901578.0   28401366.0  1202174.0
2018-03-06   4204828.0   4561718.0  22175776.0   23788506.0  1532783.0
2018-03-07   3979956.0   4174123.0  26716127.0   31703462.0  1292537.0
2018-03-08   5484399.0   3862615.0  25887828.0   23774107.0  1355125.0
2018-03-09   1722112.0   4534250.0  36937254.0   32185162.0  2128038.0
2018-03-12   2568420.0   5174211.0  26073742.0   32207081.0  2172272.0
2018-03-13   3310536.0   6531892.0  35387817.0   31693529.0  1907171.0
2018-03-14   7400986.0   4259443.0  32131981.0   29368356.0  1291415.0
2018-03-15  14505929.0   4069701.0  27610998.0   22743798.0  1472226.0
2018-03-16   6584937.0   5425012.0  49081279.0   39404688.0  3091954.0
2018-03-19  10482989.0   6580766.0  33344085.0   33446771.0  2805937.0
2018-03-20   3126738.0   4581568.0  23075240.0   19649350.0  1831896.0
2018-03-21   2383804.0   4750771.0  24457082.0   37054935.0  1878873.0
2018-03-22   3108053.0   6320551.0  38604715.0   41490767.0  2666964.0
2018-03-23   4099330.0   8006033.0  44068949.0   41028784.0  2156672.0
2018-03-26   4900332.0   5624700.0  56396780.0   37541236.0  2665131.0
2018-03-27   2080054.0   6999631.0  56569011.0   40922579.0  3095315.0
2018-03-28   4607185.0  13705317.0  52501146.0   41668545.0  3369275.0
2018-03-29   3100910.0  12581121.0  45867548.0   38398505.0  2726830.0

[1216 rows x 5 columns]

## Extracting with the `.loc[]`, `.iloc[]`, and `.ix[]` Methods

In [48]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [31]:
p.loc["low", "2014-04-08", "GOOG"]

541.61

In [32]:
p.iloc[3, 200, 3]

70.6946

## Convert `Panel` to a `MultiIndex DataFrame` (and Vice Versa)

In [34]:
df = p.to_frame()
df.head()

                     close      high       low      open      volume
major      minor
2013-06-03 ERIC    10.6324   10.6324   10.5163   10.5967   4815167.0
           AMZN   266.8800  269.1100  262.9500  268.9600   2543880.0
           MSFT    31.3573   31.3926   30.6877   30.7670  51249396.0
           AAPL    58.7748   58.9886   57.7003   58.7761  92926932.0
2013-06-04 ERIC    10.6056   10.6770   10.5431   10.6234   2635364.0

In [35]:
p2 = df.to_panel()
p2

/Users/KunWuYao/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  if __name__ == '__main__':

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1216 (major_axis) x 5 (minor_axis)
Items axis: close to volume
Major_axis axis: 2013-06-03 to 2018-03-29
Minor_axis axis: ERIC to GOOG

## The `.major_xs()` Method

In [36]:
p.items
p["volume"].head()

                 ERIC       AMZN        MSFT         AAPL  GOOG
2013-06-03  4815167.0  2543880.0  51249396.0   92926932.0   NaN
2013-06-04  2635364.0  2088072.0  65529399.0   72860221.0   NaN
2013-06-05  2730180.0  3511955.0  46023857.0   72545760.0   NaN
2013-06-06  4083654.0  2468970.0  37617747.0  104230322.0   NaN
2013-06-07  2327465.0  4632239.0  40757245.0  101120551.0   NaN

In [37]:
p.major_axis

Index(['2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06', '2013-06-07',
       '2013-06-10', '2013-06-11', '2013-06-12', '2013-06-13', '2013-06-14',
       ...
       '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
       '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
      dtype='object', length=1216)

In [39]:
p.major_xs("2013-12-20")

         close      high       low      open       volume
ERIC   10.5520   10.5788   10.4895   10.4985    3060763.0
AMZN  402.2000  404.7200  395.7800  396.5500    5038537.0
MSFT   32.8995   33.0157   32.3497   32.3631   62650324.0
AAPL   72.4867   72.8287   71.9319   72.0128  109103435.0
GOOG       NaN       NaN       NaN       NaN          NaN

## The `.minor_xs()` Method

In [40]:
p.minor_axis

Index(['ERIC', 'AMZN', 'MSFT', 'AAPL', 'GOOG'], dtype='object')

In [41]:
#p.minor_xs("MSFT")
p.minor_xs("GOOG").head(3)

            close  high  low  open  volume
2013-06-03    NaN   NaN  NaN   NaN     NaN
2013-06-04    NaN   NaN  NaN   NaN     NaN
2013-06-05    NaN   NaN  NaN   NaN     NaN

In [43]:
p["open"]
p.major_xs("2016-09-16").head()
p.minor_xs("AAPL").head()

              close     high      low     open       volume
2013-06-03  58.7748  58.9886  57.7003  58.7761   92926932.0
2013-06-04  58.5909  59.2586  58.3405  59.1008   72860221.0
2013-06-05  58.0432  58.7748  57.8607  58.1136   72545760.0
2013-06-06  57.1760  58.2897  56.6010  58.0902  104230322.0
2013-06-07  57.6130  57.7994  56.4341  56.9205  101120551.0

## Transpose a `Panel` with the `.transpose()` Method

In [44]:
p.axes

[Index(['close', 'high', 'low', 'open', 'volume'], dtype='object'),
 Index(['2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06', '2013-06-07',
        '2013-06-10', '2013-06-11', '2013-06-12', '2013-06-13', '2013-06-14',
        ...
        '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
        '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
       dtype='object', length=1216),
 Index(['ERIC', 'AMZN', 'MSFT', 'AAPL', 'GOOG'], dtype='object')]

In [45]:
p2 = p.transpose(2, 1, 0)

/Users/KunWuYao/anaconda/lib/python3.5/site-packages/pandas/core/panel.py:1255: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  return super(Panel, self).transpose(*axes, **kwargs)

In [46]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1216 (major_axis) x 5 (minor_axis)
Items axis: close to volume
Major_axis axis: 2013-06-03 to 2018-03-29
Minor_axis axis: ERIC to GOOG

In [48]:
p2["GOOG"].head()

            close  high  low  open  volume
2013-06-03    NaN   NaN  NaN   NaN     NaN
2013-06-04    NaN   NaN  NaN   NaN     NaN
2013-06-05    NaN   NaN  NaN   NaN     NaN
2013-06-06    NaN   NaN  NaN   NaN     NaN
2013-06-07    NaN   NaN  NaN   NaN     NaN

In [53]:
p2.major_xs("2014-01-06").head()

                ERIC        AMZN          MSFT          AAPL  GOOG
close   1.056990e+01      393.63  3.230050e+01  7.181470e+01   NaN
high    1.065910e+01      397.00  3.298000e+01  7.219360e+01   NaN
low     1.053420e+01      388.42  3.228270e+01  7.045090e+01   NaN
open    1.061450e+01      395.85  3.294420e+01  7.095920e+01   NaN
volume  2.154907e+06  3172207.00  4.361504e+07  1.033592e+08   NaN

In [54]:
p2.minor_xs("volume").head()

                 ERIC       AMZN        MSFT         AAPL  GOOG
2013-06-03  4815167.0  2543880.0  51249396.0   92926932.0   NaN
2013-06-04  2635364.0  2088072.0  65529399.0   72860221.0   NaN
2013-06-05  2730180.0  3511955.0  46023857.0   72545760.0   NaN
2013-06-06  4083654.0  2468970.0  37617747.0  104230322.0   NaN
2013-06-07  2327465.0  4632239.0  40757245.0  101120551.0   NaN

## The `.swapaxes()` Method

In [72]:
p2 = p.swapaxes("items", "minor")

/Users/KunWuYao/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  if __name__ == '__main__':

In [73]:
p2.axes

[Index(['ERIC', 'AMZN', 'MSFT', 'AAPL', 'GOOG'], dtype='object'),
 Index(['2013-06-03', '2013-06-04', '2013-06-05', '2013-06-06', '2013-06-07',
        '2013-06-10', '2013-06-11', '2013-06-12', '2013-06-13', '2013-06-14',
        ...
        '2018-03-16', '2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
        '2018-03-23', '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29'],
       dtype='object', length=1216),
 Index(['close', 'high', 'low', 'open', 'volume'], dtype='object')]

In [74]:
p2["MSFT"].head()
p2.major_xs("2016-09-02").head()
p2.minor_xs("close").head()

               ERIC    AMZN     MSFT     AAPL  GOOG
2013-06-03  10.6324  266.88  31.3573  58.7748   NaN
2013-06-04  10.6056  265.70  30.8287  58.5909   NaN
2013-06-05  10.4181  267.17  30.6437  58.0432   NaN
2013-06-06  10.5877  267.83  30.8023  57.1760   NaN
2013-06-07  10.5431  276.87  31.4278  57.6130   NaN