In [1]:
import pandas as pd 
import numpy as np

In [2]:
chicago = pd.read_csv("pandas/chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.head(3)

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE              $84450.00
2     AARON,  KARINA    POLICE OFFICER       POLICE              $84450.00

In [3]:
chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32063 entries, 0 to 32062
Data columns (total 4 columns):
Name                      32062 non-null object
Position Title            32062 non-null object
Department                32062 non-null category
Employee Annual Salary    32062 non-null object
dtypes: category(1), object(3)
memory usage: 784.4+ KB

In [4]:
chicago["Department"].nunique()

35

In [5]:
chicago["Department"].count()

32062

In [6]:
chicago['Name'].str.lower()

0                 aaron,  elvia j
1               aaron,  jeffery m
2                  aaron,  karina
3             aaron,  kimberlei r
4             abad jr,  vicente m
5                 abarca,  anabel
6               abarca,  emmanuel
7               abascal,  reece e
8            abbasi,  christopher
9           abbatacola,  robert j
10          abbatemarco,  james j
11               abbate,  terry m
12               abbott,  betty l
13              abbott,  lynise m
14         abbruzzese,  william j
15                abdallah,  zaid
16          abdelhadi,  abdalmahd
17            abdellatif,  aref r
18             abdelmajeid,  aziz
19            abdollahzadeh,  ali
20       abdul-karim,  muhammad a
21            abdullah,  daniel n
22               abdullah,  kevin
23           abdullah,  lakenya n
24            abdullah,  rashad j
25           abdulsattar,  mudhar
26           abdul-shakur,  tahir
27         abdulwahab,  abuubaida
28              abejero,  jason v
29        abercrombie iv,  earl s
                   ...
32033             zuniga,  juan m
32034              zuniga,  oscar
32035             zuniga,  ronald
32036             zuniga,  thomas
32037            zuniga,  vicente
32038                 zuno,  erik
32039              zupan,  bill m
32040            zupancic,  kelly
32041          zurawski,  carol a
32042          zurawski,  jeffrey
32043            zurawski,  mac z
32044           zurawski,  mary e
32045             zurek,  francis
32046              zurek,  mary h
32047             zurita,  adriel
32048             zvanja,  tina m
32049      zwarycz mann,  irene a
32050          zwarycz,  thomas j
32051          zwiesler,  matthew
32052            zwit,  jeffrey j
32053         zwolfer,  matthew w
32054              zych,  mateusz
32055               zydek,  bryan
32056            zygadlo,  john p
32057         zygadlo,  michael j
32058          zygowicz,  peter j
32059           zymantas,  mark e
32060         zyrkowski,  carlo e
32061         zyskowski,  dariusz
32062                         NaN
Name: Name, Length: 32063, dtype: object

In [7]:
chicago['Name'].str.title()

0                 Aaron,  Elvia J
1               Aaron,  Jeffery M
2                  Aaron,  Karina
3             Aaron,  Kimberlei R
4             Abad Jr,  Vicente M
5                 Abarca,  Anabel
6               Abarca,  Emmanuel
7               Abascal,  Reece E
8            Abbasi,  Christopher
9           Abbatacola,  Robert J
10          Abbatemarco,  James J
11               Abbate,  Terry M
12               Abbott,  Betty L
13              Abbott,  Lynise M
14         Abbruzzese,  William J
15                Abdallah,  Zaid
16          Abdelhadi,  Abdalmahd
17            Abdellatif,  Aref R
18             Abdelmajeid,  Aziz
19            Abdollahzadeh,  Ali
20       Abdul-Karim,  Muhammad A
21            Abdullah,  Daniel N
22               Abdullah,  Kevin
23           Abdullah,  Lakenya N
24            Abdullah,  Rashad J
25           Abdulsattar,  Mudhar
26           Abdul-Shakur,  Tahir
27         Abdulwahab,  Abuubaida
28              Abejero,  Jason V
29        Abercrombie Iv,  Earl S
                   ...
32033             Zuniga,  Juan M
32034              Zuniga,  Oscar
32035             Zuniga,  Ronald
32036             Zuniga,  Thomas
32037            Zuniga,  Vicente
32038                 Zuno,  Erik
32039              Zupan,  Bill M
32040            Zupancic,  Kelly
32041          Zurawski,  Carol A
32042          Zurawski,  Jeffrey
32043            Zurawski,  Mac Z
32044           Zurawski,  Mary E
32045             Zurek,  Francis
32046              Zurek,  Mary H
32047             Zurita,  Adriel
32048             Zvanja,  Tina M
32049      Zwarycz Mann,  Irene A
32050          Zwarycz,  Thomas J
32051          Zwiesler,  Matthew
32052            Zwit,  Jeffrey J
32053         Zwolfer,  Matthew W
32054              Zych,  Mateusz
32055               Zydek,  Bryan
32056            Zygadlo,  John P
32057         Zygadlo,  Michael J
32058          Zygowicz,  Peter J
32059           Zymantas,  Mark E
32060         Zyrkowski,  Carlo E
32061         Zyskowski,  Dariusz
32062                         NaN
Name: Name, Length: 32063, dtype: object

In [8]:
chicago = pd.read_csv('pandas/chicago.csv').dropna(how = 'all')

In [9]:
chicago['Department'] = chicago['Department'].str.replace('MGMNT', 'MANAGEMENT')

In [10]:
chicago['Employee Annual Salary'] = chicago['Employee Annual Salary'].str.replace('$', "").astype(float)

In [11]:
chicago['Employee Annual Salary'].describe()

count     32062.000000
mean      80204.178634
std       25098.329868
min           0.960000
25%       72862.400000
50%       84450.000000
75%       93240.000000
max      300000.000000
Name: Employee Annual Salary, dtype: float64

In [12]:
chicago[chicago['Position Title'].str.title().str.startswith('Water')]

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MANAGEMENT,90744.0
671,"ANDER, PERRY A",WATER CHEMIST II,WATER MANAGEMENT,82044.0
1054,"ASHLEY, KARMA T",WATER CHEMIST II,WATER MANAGEMENT,82044.0
1079,"ATKINS, JOANNA M",WATER CHEMIST II,WATER MANAGEMENT,82044.0
1181,"AZEEM, MOHAMMED A",WATER CHEMIST II,WATER MANAGEMENT,53172.0
1285,"BAJIC, JOHN A",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
2400,"BOLTON, BRIAN E",WATER RATE TAKER,WATER MANAGEMENT,78948.0
2586,"BOYCE, ADNER L",WATER CHEMIST II,WATER MANAGEMENT,82044.0
2745,"BRANDYS, DANIEL",WATER CHEMIST II,WATER MANAGEMENT,53172.0
3143,"BROWN, SHARON L",WATER RATE TAKER,WATER MANAGEMENT,82728.0
3246,"BUCHANAN, ANTHONY L",WATER CHEMIST II,WATER MANAGEMENT,66780.0
3456,"BURT, CARL S",WATER RATE TAKER,WATER MANAGEMENT,90744.0
3626,"CAGE, OPHELIA",WATER RATE TAKER,WATER MANAGEMENT,90744.0
4889,"CLARK, MARK A",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
5506,"COOPER JR, EDDIE",WATER CHEMIST II,WATER MANAGEMENT,82044.0
6337,"DAVENPORT, CLARENCE",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
6954,"DIAZ, OSCAR A",WATER RATE TAKER,WATER MANAGEMENT,90744.0
7641,"DURANT, PATRICIA B",WATER RATE TAKER,WATER MANAGEMENT,90744.0
7650,"DURHAM, PATRICK L",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
8092,"ESPINOSA, RODOLFO",WATER RATE TAKER,WATER MANAGEMENT,78948.0
10170,"GODINEZ, JULIO A",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
10457,"GORDON, DONALD R",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
10707,"GREEN, JOHN F",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
11857,"HEDRICK, LEE A",WATER RATE TAKER,WATER MANAGEMENT,78948.0
12408,"HJELMGREN, JAMES A",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
12487,"HO, KWOK L",WATER CONSERVATION ENGINEER,WATER MANAGEMENT,104748.0
12594,"HO, NAM C",WATER CHEMIST II,WATER MANAGEMENT,53172.0
12781,"HOWELL JR, GEORGE B",WATER CHEMIST II,WATER MANAGEMENT,66780.0
13361,"JACOB, LOVELY",WATER CHEMIST III,WATER MANAGEMENT,89676.0
13476,"JANSKY, THOMAS A",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
...,...,...,...,...
20936,"O CONNOR JR, MICHAEL J",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
20962,"ODIBO, GRACE E",WATER CHEMIST II,WATER MANAGEMENT,82044.0
21078,"OLBERA SR, MARTIN R",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
21212,"O NEAL, ROZELLA",WATER METER ASSESSOR,WATER MANAGEMENT,86580.0
21788,"PARKER, TERRY",WATER CHEMIST II,WATER MANAGEMENT,70152.0
22384,"PFANNKUCHE, JOSEPH W",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
22916,"PRICE, JOHNNY L",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
23102,"PUTZ, ANDREA R",WATER QUALITY MANAGER,WATER MANAGEMENT,114552.0
23187,"QUINTANILLA, EDWIN",WATER CHEMIST II,WATER MANAGEMENT,70152.0
24003,"RIOS, FRANCISCO",WATER RATE TAKER,WATER MANAGEMENT,78948.0
24178,"ROBERTS, AKILAH",WATER CHEMIST II,WATER MANAGEMENT,66780.0
24266,"ROBINSON, JERRY",WATER METER ASSESSOR,WATER MANAGEMENT,90744.0
24422,"RODRIGUEZ, EDWARD L",WATER METER ASSESSOR,WATER MANAGEMENT,78948.0
24501,"RODRIGUEZ, MARCO A",WATER RATE TAKER,WATER MANAGEMENT,90744.0
24945,"RUDMIN, KENNETH D",WATER QUALITY INSPECTOR I/C,WATER MANAGEMENT,65172.0
25055,"RUSSNAK, THOMAS W",WATER METER ASSESSOR,WATER MANAGEMENT,90744.0
26372,"SIDDIQUI, ABDURRAZZAQ",WATER CHEMIST III,WATER MANAGEMENT,89676.0
26519,"SIMS, DEMETRIUS",WATER RATE TAKER,WATER MANAGEMENT,90744.0
26625,"SKOWRON, JOHN",WATER RATE TAKER,WATER MANAGEMENT,90744.0
26871,"SMITH, NANCY A",WATER RATE TAKER,WATER MANAGEMENT,90744.0
27015,"SOJKA, JEFFREY A",WATER METER ASSESSOR,WATER MANAGEMENT,90744.0
27635,"STOKES, CAROLYN M",WATER CHEMIST II,WATER MANAGEMENT,82044.0
27755,"STROUD JR, JAMES E",WATER METER MACHINIST,WATER MANAGEMENT,82576.0
28185,"TATE, GARY",WATER RATE TAKER,WATER MANAGEMENT,82728.0
28443,"THOMAS, HOWARD",WATER RATE TAKER,WATER MANAGEMENT,78948.0
28574,"THREATT, DENISE R",WATER QUALITY INSPECTOR,WATER MANAGEMENT,62004.0
28602,"TIGNOR, DARRYL B",WATER RATE TAKER,WATER MANAGEMENT,78948.0
28955,"TRAVIS COOK, LESLIE R",WATER RATE TAKER,WATER MANAGEMENT,78948.0
29584,"VELAZQUEZ, JOHN",WATER RATE TAKER,WATER MANAGEMENT,78948.0
30239,"WASHINGTON, JOSEPH",WATER CHEMIST III,WATER MANAGEMENT,89676.0

In [19]:
chicago['Name'].str.split(',').str.get(1).str.strip().str.split(' ')[0:5]

0        [ELVIA, J]
1      [JEFFERY, M]
2          [KARINA]
3    [KIMBERLEI, R]
4      [VICENTE, M]
Name: Name, dtype: object

In [20]:
chicago[['First_Name', 'Last_Name']] = chicago['Name'].str.split(',', expand = True)

In [21]:
chicago.head()

,Name,Position Title,Department,Employee Annual Salary,First_Name,Last_Name
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MANAGEMENT,90744.0,AARON,ELVIA J
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,84450.0,AARON,JEFFERY M
2,"AARON, KARINA",POLICE OFFICER,POLICE,84450.0,AARON,KARINA
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,89880.0,AARON,KIMBERLEI R
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MANAGEMENT,106836.0,ABAD JR,VICENTE M

# Learned and useful methods

In [37]:
chicago['Employee Annual Salary'] = [str(value).replace("$", "") for value in chicago['Employee Annual Salary']]
chicago['Employee Annual Salary'].astype(float).sort_values(na_position = 'first')

32062          NaN
15102         0.96
10932      2756.00
4507       2756.00
13347      2756.00
29962      2756.00
4523       2756.00
29974      2756.00
17647      2756.00
17661      2756.00
19692      2756.00
24644      2756.00
17671      2756.00
31091      2756.00
26906      2756.00
13262      2756.00
26637      2756.00
13210      2756.00
9951       2756.00
30028      2756.00
9983       2756.00
16204      2756.00
2118       2756.00
11235      2756.00
10043      2756.00
1525       2756.00
31572      2756.00
2921       2756.00
15470      2756.00
29256      2756.00
           ...
12742    170112.00
12805    170112.00
6810     170112.00
27393    170112.00
16176    170112.00
30017    170112.00
21933    173664.00
14045    174720.00
19721    175002.00
7278     175002.00
23631    175020.00
19672    177000.00
7790     185352.00
20541    185352.00
9010     185352.00
26263    185352.00
30886    185364.00
30455    185364.00
13754    185364.00
23838    185364.00
24906    185364.00
29466    187680.00
3706     187680.00
18556    187680.00
19208    195000.00
8042     197724.00
8924     197736.00
25532    202728.00
7954     216210.00
8184     300000.00
Name: Employee Annual Salary, Length: 32063, dtype: float64

In [32]:
chicago['Employee Annual Salary'].rank().sort_values() #output a rank series based on the selected data

15102        1.0
21193       84.0
20332       84.0
6701        84.0
6768        84.0
30890       84.0
6846        84.0
28475       84.0
19988       84.0
19947       84.0
28581       84.0
396         84.0
395         84.0
28594       84.0
19776       84.0
19974       84.0
6206        84.0
6182        84.0
20837       84.0
5714        84.0
5716        84.0
5784        84.0
5806        84.0
5829        84.0
5849        84.0
7160        84.0
14430       84.0
20999       84.0
5968        84.0
5973        84.0
          ...
27547    32041.0
9786     32041.0
9639     32041.0
7520     32041.0
2624     32041.0
9097     32041.0
8965     32041.0
8682     32041.0
21201    32041.0
184      32041.0
18244    32041.0
11679    32041.0
16260    32041.0
14524    32041.0
14501    32041.0
23475    32041.0
16980    32041.0
16988    32041.0
26214    32041.0
23058    32041.0
17187    32041.0
31900    32041.0
5537     32041.0
975      32041.0
12711    32041.0
28956    32041.0
11746    32041.0
27407    32061.0
23434    32062.0
32062    32063.0
Name: Employee Annual Salary, Length: 32063, dtype: float64

In [38]:
chicago['Employee Annual Salary'] = chicago['Employee Annual Salary'].astype(float)
chicago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32063 entries, 0 to 32062
Data columns (total 4 columns):
Name                      32062 non-null object
Position Title            32062 non-null object
Department                32062 non-null category
Employee Annual Salary    32062 non-null float64
dtypes: category(1), float64(1), object(2)
memory usage: 784.4+ KB

In [40]:
chicago[chicago['Employee Annual Salary'].between(120000, 150000)]

,Name,Position Title,Department,Employee Annual Salary
40,"ABRAMSKI, JOHN E",AMBULANCE COMMANDER,FIRE,125190.00
87,"ACHILLES, AMBER L",CHIEF ASST CORPORATION COUNSEL,LAW,124572.00
158,"ADDUCI, MARK A",LIEUTENANT,POLICE,121464.00
164,"ADELIZZI, JOY A",DEPUTY COMMISSIONER,BUSINESS AFFAIRS,120192.00
185,"AGAR, BULENT B",CHIEF ENGINEER OF SEWERS,WATER MGMNT,122856.00
252,"AHMED, AMMAR E",DIR OF INFORMATION SYSTEMS,INSPECTOR GEN,134340.00
256,"AHMED, NAFEES",DEPUTY COMMISSIONER,AVIATION,120444.00
263,"AIKENS, BRADLEY K",CAPTAIN-EMT,FIRE,132780.00
315,"ALBARRAN, FRANK J",COORDINATING FIRE COMMUNICATIONS OPERATOR,OEMC,120036.84
374,"ALEXANDER, JAMES P",AMBULANCE COMMANDER,FIRE,121464.00
549,"ALTMAN, MARK T",BATTALION CHIEF - EMT,FIRE,145116.00
550,"ALTMAN, MICHAEL P",BATTALION CHIEF,FIRE,136836.00
608,"ALVAREZ, ROBIN C",PARAMEDIC FIELD CHIEF,FIRE,132876.00
625,"AMATI, MARK A",LIEUTENANT,POLICE,125190.00
680,"ANDERSEN, TAMI L",LIEUTENANT,POLICE,125190.00
722,"ANDERSON, JOHN T",LIEUTENANT,POLICE,125190.00
725,"ANDERSON, KEVIN B",CAPTAIN,POLICE,136170.00
763,"ANDERSON, TODD R",AMBULANCE COMMANDER,FIRE,121464.00
784,"ANDREWS, DENISE",NURSE PRACTITIONER,HEALTH,128988.00
796,"ANDRUZZI JR, JOSEPH J",LIEUTENANT,POLICE,125190.00
874,"AQUINO, WILLIAM",DIVISION SUPERINTENDENT,STREETS & SAN,122676.00
974,"ARNSWALD, THOMAS J",BATTALION CHIEF - EMT,FIRE,145116.00
1019,"ARTEAGA JR, ROBERT",LIEUTENANT,POLICE,121464.00
1130,"AVENDANO, NAOMI A",DEPUTY CORPORATION COUNSEL,LAW,137076.00
1141,"AVILA, SALVADOR E",LIEUTENANT,POLICE,125190.00
1244,"BAHMANDEJI, HOOTAN N",CAPTAIN,POLICE,136170.00
1278,"BAIO, ANTONIO M",LIEUTENANT,POLICE,125190.00
1396,"BANKS, EDDIE L",CAPTAIN-EMT,FIRE,132780.00
1463,"BARBER, RONALD J",LIEUTENANT-PARAMEDIC,FIRE,121068.00
1512,"BARNES JR, JOE E",LIEUTENANT,POLICE,125190.00
...,...,...,...,...
30557,"WHALEN, SCOTT T",CAPTAIN-EMT,FIRE,132780.00
30559,"WHEAT, CHRISTOPHER O",DEPUTY DIR,MAYOR'S OFFICE,135000.00
30658,"WHITESIDE JR, MALCOLM",DEPUTY COMMISSIONER,STREETS & SAN,129336.00
30679,"WHITMORE JR, ROY L",LIEUTENANT,POLICE,125190.00
30692,"WIBERG, WAYNE A",LIEUTENANT,POLICE,121464.00
30716,"WIECZOREK, THOMAS E",LIEUTENANT,POLICE,121464.00
30724,"WIELGAT, MICHAEL S",CAPTAIN-EMT,FIRE,132780.00
30746,"WILBUR, MICHAEL G",CAPTAIN-EMT,FIRE,128844.00
30754,"WILEY EARLS, CARMELITA P",CAPTAIN-EMT,FIRE,132780.00
30821,"WILLIAMS, CHARLES E",BATTALION CHIEF - EMT,FIRE,145116.00
30921,"WILLIAMS, JERRY",PARAMEDIC FIELD CHIEF,FIRE,136836.00
31063,"WILLIAMS, STANLEY A",CAPTAIN-EMT,FIRE,132780.00
31076,"WILLIAMS, TERESA H",LIEUTENANT,POLICE,125190.00
31129,"WILLNER, JOHN E",LIEUTENANT,POLICE,125190.00
31164,"WILSON, FRANK F",DIRECTOR OF FINANCE,POLICE,134268.00
31283,"WIRTZ, TERRENCE F",PARAMEDIC FIELD CHIEF,FIRE,136836.00
31333,"WODNICKI, EDWARD M",LIEUTENANT,POLICE,125190.00
31339,"WOJCIK, ANTHONY T",LIEUTENANT,POLICE,125190.00
31350,"WOJTECKI, KENNETH S",BATTALION CHIEF - EMT,FIRE,145116.00
31385,"WONG, WILLIAM",MEDICAL DIR,FIRE,148284.00
31485,"WORSECK, ANDREW W",CHIEF ASST CORPORATION COUNSEL,LAW,124572.00
31489,"WORTHINGTON, KIMBERLY A",DEPUTY COMMISSIONER,GENERAL SERVICES,121620.00
31566,"WTORKOWSKI, ALBERT P",COORDINATING ENGINEER II,WATER MGMNT,122856.00
31567,"WU, DAVID C",LIEUTENANT,POLICE,125190.00
31609,"YAMAJI, PETER S",VETERINARIAN,ANIMAL CONTRL,123144.00
31672,"YONOVER, SCOTT D",DEPUTY DIR,FINANCE,127824.00
31765,"ZACCAGNINI, GEORGE J",BATTALION CHIEF - EMT,FIRE,145116.00
31916,"ZEMEK, HELEN O",LIEUTENANT,POLICE,121464.00
31993,"ZNAVOR, THOMAS A",LIEUTENANT-PARAMEDIC,FIRE,121068.00
32016,"ZUBER, PATRICIA O",LIEUTENANT,POLICE,121464.00

In [41]:
chicago[chicago["Department"].isin(['FIRE', 'LAW'])]

,Name,Position Title,Department,Employee Annual Salary
10,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,100320.0
17,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,99228.0
19,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,88596.0
21,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,92682.0
22,"ABDULLAH, KEVIN",LIEUTENANT,FIRE,111474.0
29,"ABERCROMBIE IV, EARL S",PARAMEDIC,FIRE,70380.0
40,"ABRAMSKI, JOHN E",AMBULANCE COMMANDER,FIRE,125190.0
42,"ABRATANSKI, MARK A",FIREFIGHTER-EMT,FIRE,86538.0
48,"ABREU, VICTOR",FIREFIGHTER-EMT,FIRE,96414.0
68,"ACEVEDO, EDWIN C",FIREFIGHTER,FIRE,94530.0
71,"ACEVEDO, GILBERT",LIEUTENANT-EMT,FIRE,118248.0
78,"ACEVEDO, MANUEL A",FIREFIGHTER,FIRE,87384.0
87,"ACHILLES, AMBER L",CHIEF ASST CORPORATION COUNSEL,LAW,124572.0
89,"ACHTEL, SCOTT R",FIREFIGHTER-EMT,FIRE,92682.0
90,"ACKERMANN, MICHAEL A",PARAMEDIC,FIRE,70380.0
106,"ADAMCZYK, LAWRENCE M",FIREFIGHTER,FIRE,90918.0
110,"ADAMIK, MATTHEW W",PARAMEDIC I/C,FIRE,88410.0
112,"ADAMOW, JEFFREY W",FIREFIGHTER-EMT,FIRE,86538.0
129,"ADAMS JR, JOHN W",FIREFIGHTER-EMT,FIRE,86538.0
130,"ADAMSKI, JERRY J",FIREFIGHTER-EMT (RECRUIT),FIRE,54654.0
137,"ADAMS, OLIVIA I",LEGAL SECRETARY,LAW,81948.0
140,"ADAMS, RAYMOND T",LIEUTENANT-EMT,FIRE,110970.0
171,"ADKINS, BRITTANY L",ASST CORPORATION COUNSEL,LAW,58908.0
180,"ADREANI, JOHN J",FIRE ENGINEER-EMT,FIRE,100320.0
190,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD),FIRE,98016.0
199,"AGUAYO, BRAULIO",FIREFIGHTER-EMT (RECRUIT),FIRE,70380.0
200,"AGUAYO, LUIS A",FIREFIGHTER-EMT,FIRE,89568.0
202,"AGUIAR, WILLIAM M",ASST CORPORATION COUNSEL SUPVSR,LAW,109608.0
209,"AGUILAR, JESUS D",PARAMEDIC I/C,FIRE,80196.0
243,"AHERN, MICHAEL J",FIRE ENGINEER-EMT,FIRE,100320.0
...,...,...,...,...
31931,"ZERITIS, ANGELO G",FIRE ENGINEER-EMT,FIRE,96918.0
31933,"ZERVAS, NICHOLAS J",LIEUTENANT-EMT,FIRE,110970.0
31934,"ZEUTSCHEL, PAUL R",FIREFIGHTER-EMT,FIRE,86538.0
31943,"ZIARNO, ELIZABETH",PARALEGAL II,LAW,78204.0
31945,"ZICKTERMAN, KEVIN A",LAW CLERK,LAW,25898.6
31948,"ZIEGENBEIN, HANS T",LIEUTENANT-EMT,FIRE,110970.0
31954,"ZIELINSKI, MICHAEL A",FIRE ENGINEER,FIRE,94584.0
31962,"ZIEMBA, DONALD P",FIREFIGHTER-EMT,FIRE,89568.0
31964,"ZIEMBA, LLOYD W",LIEUTENANT-EMT,FIRE,110970.0
31969,"ZILCH, MARK",FIREFIGHTER-EMT,FIRE,86538.0
31970,"ZILSKE, KEITH J",FIREFIGHTER-EMT (RECRUIT),FIRE,70380.0
31973,"ZIMO, JOHN",FIREFIGHTER/PARAMEDIC,FIRE,94884.0
31977,"ZINGARELLI, JOHN M",FIREFIGHTER,FIRE,84450.0
31978,"ZINK, JAMES H",FIREFIGHTER,FIRE,84450.0
31979,"ZIOLKOWSKI, THOMAS P",FIREFIGHTER/PARAMEDIC,FIRE,88596.0
31981,"ZITTNAN, VINCENT M",PARAMEDIC I/C,FIRE,88410.0
31993,"ZNAVOR, THOMAS A",LIEUTENANT-PARAMEDIC,FIRE,121068.0
31999,"ZOLLER, DANIEL F",FIREFIGHTER,FIRE,87384.0
32001,"ZOLLNER, BRIAN T",FIREFIGHTER-EMT (RECRUIT),FIRE,66606.0
32003,"ZON, CHRISTOPHE K",FIREFIGHTER,FIRE,87384.0
32005,"ZORNIAK, ROMAN",FIREFIGHTER/PARAMEDIC,FIRE,88596.0
32006,"ZOTTA, CELESTINO",FIREFIGHTER,FIRE,94530.0
32019,"ZUELKE, CHRISTOPHER W",PARAMEDIC I/C,FIRE,88410.0
32020,"ZUHR, ANTHONY D",FIREFIGHTER-EMT,FIRE,86538.0
32021,"ZUKLIC, JASON M",FIREFIGHTER-EMT,FIRE,86538.0
32027,"ZULLO, JOHN J",FIREFIGHTER,FIRE,94530.0
32037,"ZUNIGA, VICENTE",FIREFIGHTER-EMT,FIRE,89568.0
32039,"ZUPAN, BILL M",LIEUTENANT-EMT,FIRE,107592.0
32048,"ZVANJA, TINA M",LEGAL SECRETARY,LAW,71292.0
32053,"ZWOLFER, MATTHEW W",FIREFIGHTER-EMT,FIRE,92682.0

In [42]:
chicago.drop_duplicates(subset = ["Employee Annual Salary"], keep = False)

,Name,Position Title,Department,Employee Annual Salary
5,"ABARCA, ANABEL",ASST TO THE ALDERMAN,CITY COUNCIL,70764.00
164,"ADELIZZI, JOY A",DEPUTY COMMISSIONER,BUSINESS AFFAIRS,120192.00
165,"ADELMAN, BRUCE E",LEGISLATIVE AIDE,CITY COUNCIL,19572.00
261,"AHUILE, CECILIA T",LEGISLATIVE AIDE,CITY COUNCIL,50460.00
318,"ALBERT, LOUIS",SANITATION LABORER,STREETS & SAN,66456.00
521,"ALONISTIOTIS, KONSTANTINES M",ASSISTANT DIRECTOR OF FINANCE,TREASURER,75276.00
527,"ALONSO, MARIO A",DIR OF LIBRARY - PROGRAMS AND EXHIBITS,PUBLIC LIBRARY,108204.00
614,"ALVERIO, EVELYN J",ASST TO THE COMMISSIONER,PROCUREMENT,60780.00
659,"AMSDEN, MICHAEL",PROJECTS ADMINISTRATOR,TRANSPORTN,97092.00
805,"ANGELETTI, DIANE E",CLERK III,HUMAN RESOURCES,39096.00
821,"AN, NICK H",TRAFFIC ENGINEER V,TRANSPORTN,103644.00
861,"APONTE, WILFREDO",GLAZIER,GENERAL SERVICES,85280.00
874,"AQUINO, WILLIAM",DIVISION SUPERINTENDENT,STREETS & SAN,122676.00
917,"ARENA, JOHN S",ALDERMAN,CITY COUNCIL,109993.92
1033,"ARWADY, MARY A",DEPUTY COMMISSIONER,HEALTH,160692.00
1052,"ASHLEY, DANIEL J",ASST BENEFITS MANAGER,FINANCE,94404.00
1149,"AVILES, NEREIDA",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,43668.00
1158,"AYAKHAN, KEVIN",POLICY ANALYST,BUILDINGS,57834.00
1216,"BADILLO, KRISTIAN E",ANIMAL CONTROL OFFICER,ANIMAL CONTRL,38748.00
1419,"BANNON, BRIAN A",COMMISSIONER OF CHICAGO PUBLIC LIBRARY,PUBLIC LIBRARY,167004.00
1420,"BANNON, EDWARD L",ALDERMANIC AIDE,CITY COUNCIL,40040.00
1431,"BAPAT, RUPAL D",DEPUTY COMMISSIONER,BUSINESS AFFAIRS,105180.00
1485,"BARKER, WILLIAM L",SHIFT SUPVSR OF SECURITY COMMUNICATIONS CENTER,OEMC,85032.00
1633,"BATEMAN, KELLY ANNE",DEPUTY CHIEF ADMINISTRATIVE OFFICER,BOARD OF ELECTION,129840.00
1656,"BATTAGLIA JR, PHILLIP J",PROJECT MANAGER,HEALTH,84876.00
1742,"BEATTY, HELEN E",ADMINISTRATIVE ASST,MAYOR'S OFFICE,73500.00
1745,"BEAUDET, MATTHEW W",FIRST DEPUTY COMMISSIONER,BUILDINGS,129156.00
1818,"BELL, ANTHONY M",CLERK - BD OF ELECTIONS,BOARD OF ELECTION,33180.00
1947,"BERGER, THEODORE",DEPUTY DIR,OEMC,103032.00
1991,"BERONSKI, BARBARA",LEGISLATIVE AIDE,CITY COUNCIL,21672.00
...,...,...,...,...
29863,"WADE, DEMEKA J",PERSONAL ASSISTANT,FIRE,78936.00
29899,"WAGUESPACK, SCOTT E",ALDERMAN,CITY COUNCIL,107682.00
29929,"WALKER, ANNASTASIA M",CHIEF ADMINISTRATIVE OFFICER,FIRE,138780.00
29997,"WALLACE CHILDRESS, JUANITA",CHIEF CONTRACT EXPEDITER,TRANSPORTN,59244.00
30151,"WARD, PATRICK J",LIEUTENANT-PARAMEDIC,FIRE,124686.00
30282,"WATKINS, CHARLES W",POLICY ANALYST,HEALTH,77736.00
30326,"WATSON, KARL B",MECHANICAL ENGINEER V,AVIATION,96768.00
30397,"WEBER, ELISABETH K",PROJECTS ADMINISTRATOR,HEALTH,105936.00
30433,"WEINERT, DARCI N",SENIOR HEARING OFFICER,ADMIN HEARNG,68700.00
30456,"WELCH, JENNIFER",FIRST DEPUTY COMMISSIONER,FAMILY & SUPPORT,131124.00
30457,"WELCH, JOHN W",POLICE OFFICER,POLICE,83616.00
30466,"WELLHAUSEN, NICOLE A",LEGISLATIVE AIDE,CITY COUNCIL,55992.00
30500,"WERTH, MEERA",ASST CORPORATION COUNSEL SUPVSR,LAW,114672.00
30647,"WHITE, QUINRETTA R",POLICE CADET,POLICE,16871.40
30702,"WIDAWSKY, DANIEL J",CITY COMPTROLLER,FINANCE,165000.00
30806,"WILLIAMS BENNET, KENNETH F",FIRST DEPUTY CHIEF OF STAFF,MAYOR'S OFFICE,159996.00
30930,"WILLIAMS JR, ELI",ANIMAL CONTROL OFFICER,ANIMAL CONTRL,44568.00
31164,"WILSON, FRANK F",DIRECTOR OF FINANCE,POLICE,134268.00
31189,"WILSON, LAMANDA C",OFFICE ADMINISTRATOR,BUSINESS AFFAIRS,61560.00
31204,"WILSON, MICHAEL T",GENERAL FOREMAN OF MACHINISTS,TRANSPORTN,101607.96
31315,"WITRY, MARY P",PROJECT MANAGER,FINANCE,117276.00
31332,"WOCKNER, JOHN L",DECK HAND,WATER MGMNT,72259.20
31489,"WORTHINGTON, KIMBERLY A",DEPUTY COMMISSIONER,GENERAL SERVICES,121620.00
31602,"YAGER, KATHERINE A",IT DIRECTOR (DoIT),DoIT,109032.00
31609,"YAMAJI, PETER S",VETERINARIAN,ANIMAL CONTRL,123144.00
31614,"YANCY, ETHEL M",LEGISLATIVE AIDE,CITY COUNCIL,24744.00
31677,"YORK, KATREINA S",ASSISTANT DIRECTOR OF FINANCE,OEMC,75456.00
32010,"ZOVKO, ERIKA",ADMINISTRATIVE ASST,MAYOR'S OFFICE,62796.00
32023,"ZULEY, RICHARD P",PROJECTS ADMINISTRATOR,AVIATION,80076.00
32062,NaN,NaN,NaN,NaN