In [2]:
import pandas as pd
import datetime as dt

## Review of Python's `datetime` Module

In [3]:
someday = dt.date(2018,6,1)

In [4]:
someday.year
someday.month
someday.day

1

In [5]:
str(someday)

'2018-06-01'

In [6]:
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

In [7]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [8]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

## The `pandas Timestamp` Object

In [10]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 11, 04")
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("4/3/2000")
pd.Timestamp("2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [11]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [12]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## The `pandas DateTimeIndex` Object

In [13]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [14]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [15]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The `pd.to_datetime()` Method

In [16]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [17]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [18]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [19]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [21]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [22]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [23]:
pd.Period("2016-01-08", freq = "10D")

Period('2016-01-08', '10D')

In [24]:
dates = ["2016-01-01", "2016-02-01", "2016-03-01"]
pd.Series([1, 2, 3], index = pd.PeriodIndex(dates, freq = "2M"))

2016-01    1
2016-02    2
2016-03    3
Freq: 2M, dtype: int64

In [27]:
pd.Period("2016-01-08", freq = "W")
pd.Period("2016-01-08", freq = "W-SUN")
pd.Period("2016-01-08", freq = "W-WED")
pd.Period("2015-12-10", freq = "10D")

dates = ["2016-01-01", "2016-02-01", "2016-02-01"]
pd.PeriodIndex(dates, freq = "W-MON")
weeks = pd.PeriodIndex(dates, freq = "W-MON")

pd.Series([999, 500, 325], index = weeks, name = "Weekly Revenue")

2015-12-29/2016-01-04    999
2016-01-26/2016-02-01    500
2016-01-26/2016-02-01    325
Freq: W-MON, Name: Weekly Revenue, dtype: int64

## Create Range of Dates with the `pd.date_range()` Method, Part 1

In [28]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [29]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [30]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [36]:
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "YS")

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
               '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01',
               '2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01', '2031-01-01',
               '2032-01-01', '2033-01-01', '2034-01-01', '2035-01-01',
               '2036-01-01', '2037-01-01', '2038-01-01', '2039-01-01',
               '2040-01-01', '2041-01-01', '2042-01-01', '2043-01-01',
               '2044-01-01', '2045-01-01', '2046-01-01', '2047-01-01',
               '2048-01-01', '2049-01-01', '2050-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

## Create Range of Dates with the `pd.date_range()` Method, Part 2

In [37]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## Create Range of Dates with the `pd.date_range()` Method, Part 3

In [39]:
pd.date_range(end = "1999-12-31", periods = 10, freq = "7H")

DatetimeIndex(['1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## The `.dt` Accessor

In [40]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [41]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [42]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

## Import Financial Data Set with `pandas_datareader` Library

In [5]:
import pandas as pd
import datetime as dt
pd.core.common.is_list_like = pd.api.types.is_list_like
#info from: 
#https://stackoverflow.com/questions/50394873/import-pandas-datareader-gives-importerror-cannot-import-name-is-list-like
from pandas_datareader import data

In [20]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source = "morningstar", 
                         start = start, end = end).reset_index().drop(columns = ['Symbol'],axis = 1).set_index('Date')
stocks.head(3)

            Close   High    Low   Open    Volume
Date
2010-01-01  30.48  30.99  30.48  30.98         0
2010-01-04  30.95  31.10  30.59  30.65  38414185
2010-01-05  30.96  31.10  30.64  30.87  49758862

In [13]:
#stocks.values
#stocks.columns
stocks.index[0]
#stocks.axes

('MSFT', Timestamp('2010-01-01 00:00:00'))

## Selecting from a `DataFrame` with a `DateTimeIndex`

In [21]:
stocks.loc["2010-01-04"]
stocks.iloc[300]
stocks.ix["2014-03-04"]
stocks.ix[300]

/Users/KunWuYao/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()
/Users/KunWuYao/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

Close           26.55
High            26.95
Low             26.50
Open            26.88
Volume    53006263.00
Name: 2011-02-25 00:00:00, dtype: float64

In [22]:
stocks.loc["2016-01-01"]

Close     55.48
High      55.48
Low       55.48
Open      55.48
Volume     0.00
Name: 2016-01-01 00:00:00, dtype: float64

In [23]:
stocks.loc["2013-10-01" : "2013-10-07"]
#stocks.ix["2013-10-01" : "2013-10-07"]

            Close   High    Low   Open    Volume
Date
2013-10-01  33.58  33.61  33.30  33.34  36718733
2013-10-02  33.92  34.03  33.29  33.38  46946813
2013-10-03  33.86  34.00  33.42  33.89  38707452
2013-10-04  33.88  33.99  33.62  33.71  33008107
2013-10-07  33.30  33.71  33.20  33.60  35069279

In [27]:
birthdays = pd.date_range(start = "1991-04-12", end = "2017-12-31", freq = pd.DateOffset(years = 1))

In [28]:
mask = stocks.index.isin(birthdays)

In [29]:
stocks[mask]

             Close   High     Low   Open    Volume
Date
2010-04-12  30.320  30.49  30.205  30.26  35769377
2011-04-12  25.640  25.85  25.550  25.82  36936975
2012-04-12  30.975  31.04  30.420  30.48  38306010
2013-04-12  28.790  29.02  28.660  28.84  62888012
2016-04-12  54.650  54.78  53.760  54.37  24944288
2017-04-12  65.230  65.51  65.110  65.42  17108513

## `Timestamp` Object Attributes

In [30]:
#stocks = data.DataReader(name = company, data_source = "google", start = start, end = end)
stocks.head(3)

            Close   High    Low   Open    Volume
Date
2010-01-01  30.48  30.99  30.48  30.98         0
2010-01-04  30.95  31.10  30.59  30.65  38414185
2010-01-05  30.96  31.10  30.64  30.87  49758862

In [31]:
someday = stocks.index[500]
someday

Timestamp('2011-12-02 00:00:00')

In [39]:
someday.day
someday.month
someday.year
someday.is_month_end
someday.is_month_start
someday.hour

/Users/KunWuYao/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

0

In [46]:
someday.second
someday.minute
someday.day_name()
someday.dayofyear

336

In [47]:
stocks.insert(0, "Day of Week", stocks.index.day_name())

In [48]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [49]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,Close,High,Low,Open,Volume
Date,,,,,,,
2010-01-01,Friday,True,30.4800,30.9900,30.4800,30.9800,0
2010-02-01,Monday,True,28.4100,28.4800,27.9200,28.4000,85931099
2010-03-01,Monday,True,29.0200,29.0500,28.5300,28.7700,43805302
2010-04-01,Thursday,True,29.1600,29.5400,28.6200,29.3500,74768063
2010-06-01,Tuesday,True,25.8900,26.3100,25.5200,25.5700,76155453
2010-07-01,Thursday,True,23.1600,23.3200,22.7300,23.0900,92239399
2010-09-01,Wednesday,True,23.9000,23.9500,23.5400,23.6600,65235851
2010-10-01,Friday,True,24.3800,24.8200,24.3000,24.7700,62672276
2010-11-01,Monday,True,26.9500,27.2200,26.7000,26.8800,61916183
2010-12-01,Wednesday,True,26.0400,26.2500,25.5600,25.5900,74123490
2011-02-01,Tuesday,True,27.9925,28.0600,27.6100,27.8000,62810661
2011-03-01,Tuesday,True,26.1600,26.7800,26.1500,26.6000,60054986
2011-04-01,Friday,True,25.4800,25.5300,25.3100,25.5300,63114201
2011-06-01,Wednesday,True,24.4300,25.1000,24.3700,24.9900,74036467
2011-07-01,Friday,True,26.0200,26.1700,25.8400,25.9500,52914516
2011-08-01,Monday,True,27.2700,27.6850,26.7500,27.5400,61846218
2011-09-01,Thursday,True,26.2100,26.8600,26.2100,26.4600,60511548
2011-11-01,Tuesday,True,25.9900,26.3200,25.8600,26.1700,61186956
2011-12-01,Thursday,True,25.2800,25.6300,25.2000,25.6300,48545338
2012-02-01,Wednesday,True,29.8900,30.0500,29.7600,29.7600,67413817
2012-03-01,Thursday,True,32.2900,32.3900,31.8500,31.9500,77348930
2012-05-01,Tuesday,True,32.0100,32.3350,31.9500,32.0500,43833208
2012-06-01,Friday,True,28.4500,28.9600,28.4400,28.8000,56641282
2012-08-01,Wednesday,True,29.4100,29.6500,29.2100,29.5800,31722523
2012-10-01,Monday,True,29.4900,29.9800,29.4200,29.8200,54042532
2012-11-01,Thursday,True,29.5150,29.5600,28.8200,28.8900,72047818
2013-01-01,Tuesday,True,26.7097,26.7097,26.7097,26.7097,0
2013-02-01,Friday,True,27.9300,28.0500,27.5500,27.6700,55566440
2013-03-01,Friday,True,27.9500,27.9800,27.5200,27.6900,34851878
2013-04-01,Monday,True,28.6100,28.6600,28.3600,28.6200,29203122
...,...,...,...,...,...,...,...
2014-08-01,Friday,True,42.8600,43.2500,42.6000,43.1500,31171094
2014-09-01,Monday,True,45.4300,45.4300,45.4300,45.4300,0
2014-10-01,Wednesday,True,45.9000,46.5300,45.8450,46.2700,38088355
2014-12-01,Monday,True,48.6200,48.7800,47.7100,47.8800,31191575
2015-01-01,Thursday,True,46.4500,46.4500,46.4500,46.4500,0
2015-04-01,Wednesday,True,40.7200,40.7600,40.3100,40.6000,36865322
2015-05-01,Friday,True,48.6550,48.8750,48.4000,48.5800,38937336
2015-06-01,Monday,True,47.2300,47.7700,46.6200,47.0600,28837332
2015-07-01,Wednesday,True,44.4450,45.2300,44.1000,44.4900,28343907
2015-09-01,Tuesday,True,41.8200,42.5900,41.6600,42.1700,49688896
2015-10-01,Thursday,True,44.6100,44.7500,43.7500,44.7500,28657859
2015-12-01,Tuesday,True,55.2200,55.2300,54.3000,54.4100,39952779
2016-01-01,Friday,True,55.4800,55.4800,55.4800,55.4800,0
2016-02-01,Monday,True,54.7100,55.0900,54.4950,54.8800,44208542
2016-03-01,Tuesday,True,52.5800,52.5900,50.9199,50.9700,33024535
2016-04-01,Friday,True,55.5700,55.6100,54.5700,55.0500,24399193
2016-06-01,Wednesday,True,52.8500,52.9500,52.4400,52.4400,25324828
2016-07-01,Friday,True,51.1600,51.7200,51.0700,51.1300,21400392
2016-08-01,Monday,True,56.5800,56.7500,56.1400,56.6000,26003419
2016-09-01,Thursday,True,57.5900,57.8200,57.0100,57.0100,26075363
2016-11-01,Tuesday,True,59.8000,60.0200,59.2500,59.9700,24532986
2016-12-01,Thursday,True,59.2000,60.1500,58.9350,60.1100,34542121
2017-02-01,Wednesday,True,63.5800,64.6200,63.4700,64.3550,39671528
2017-03-01,Wednesday,True,64.9400,64.9900,64.0218,64.1300,26937459
2017-05-01,Monday,True,69.4100,69.5500,68.5000,68.6800,31954362
2017-06-01,Thursday,True,70.1000,70.6100,69.4510,70.2400,21603601
2017-08-01,Tuesday,True,72.5800,73.4200,72.4900,73.1000,20823890
2017-09-01,Friday,True,73.9400,74.7400,73.6400,74.7100,21736161
2017-11-01,Wednesday,True,83.1800,83.7600,82.8800,83.6800,22307371
2017-12-01,Friday,True,84.2600,84.8100,83.2200,83.6000,29532132

## The `.truncate()` Method

In [50]:
#stocks = data.DataReader(name = company, data_source = "google", start = start, end = end)
stocks.head(3)

,Day of Week,Is Start of Month,Close,High,Low,Open,Volume
Date,,,,,,,
2010-01-01,Friday,True,30.48,30.99,30.48,30.98,0
2010-01-04,Monday,False,30.95,31.10,30.59,30.65,38414185
2010-01-05,Tuesday,False,30.96,31.10,30.64,30.87,49758862

In [52]:
stocks.truncate(before = "2012-06-07", after = "2013-02-28")

,Day of Week,Is Start of Month,Close,High,Low,Open,Volume
Date,,,,,,,
2012-06-07,Thursday,False,29.230,29.700,29.170,29.60,37794901
2012-06-08,Friday,False,29.650,29.680,29.050,29.21,42554321
2012-06-11,Monday,False,28.895,29.810,28.820,29.73,46365066
2012-06-12,Tuesday,False,29.290,29.300,28.840,29.10,35338135
2012-06-13,Wednesday,False,29.130,29.440,29.050,29.24,32984515
2012-06-14,Thursday,False,29.340,29.460,28.880,29.33,39460156
2012-06-15,Friday,False,30.020,30.080,29.490,29.61,62314362
2012-06-18,Monday,False,29.840,30.030,29.710,30.02,58679618
2012-06-19,Tuesday,False,30.700,31.110,30.050,30.21,75725717
2012-06-20,Wednesday,False,30.930,31.050,30.640,30.93,36257101
2012-06-21,Thursday,False,30.135,31.140,30.060,31.00,48461283
2012-06-22,Friday,False,30.700,30.730,30.030,30.30,45098017
2012-06-25,Monday,False,29.865,30.320,29.620,30.29,42225199
2012-06-26,Tuesday,False,30.020,30.270,29.940,29.99,38422237
2012-06-27,Wednesday,False,30.170,30.500,30.030,30.21,33783977
2012-06-28,Thursday,False,29.910,30.050,29.420,29.98,45333920
2012-06-29,Friday,False,30.590,30.690,30.140,30.45,55227108
2012-07-02,Monday,False,30.560,30.620,30.210,30.62,30589039
2012-07-03,Tuesday,False,30.760,30.760,30.170,30.20,20941442
2012-07-04,Wednesday,False,30.760,30.760,30.760,30.76,0
2012-07-05,Thursday,False,30.700,30.780,30.375,30.50,28802821
2012-07-06,Friday,False,30.185,30.700,29.950,30.58,38297403
2012-07-09,Monday,False,30.000,30.230,29.780,30.19,30682552
2012-07-10,Tuesday,False,29.740,30.220,29.510,30.08,37537369
2012-07-11,Wednesday,False,29.300,29.735,29.105,29.68,39188842
2012-07-12,Thursday,False,28.630,29.180,28.540,29.15,63530444
2012-07-13,Friday,False,29.390,29.480,28.720,28.80,39090585
2012-07-16,Monday,False,29.440,29.530,29.040,29.48,27901963
2012-07-17,Tuesday,False,29.660,29.860,29.200,29.64,33776331
2012-07-18,Wednesday,False,30.450,30.450,29.460,29.59,41100151
...,...,...,...,...,...,...,...
2013-01-18,Friday,False,27.250,27.290,27.040,27.06,52171305
2013-01-21,Monday,False,27.250,27.250,27.250,27.25,0
2013-01-22,Tuesday,False,27.150,27.450,27.000,27.33,58656745
2013-01-23,Wednesday,False,27.610,27.635,27.200,27.20,50387614
2013-01-24,Thursday,False,27.630,28.070,27.470,27.68,101739246
2013-01-25,Friday,False,27.880,28.230,27.390,27.60,81853106
2013-01-28,Monday,False,27.911,28.225,27.760,28.00,56061493
2013-01-29,Tuesday,False,28.010,28.130,27.600,27.81,49247863
2013-01-30,Wednesday,False,27.850,28.190,27.760,28.01,43585526
2013-01-31,Thursday,False,27.450,27.970,27.400,27.72,50536148
2013-02-01,Friday,True,27.930,28.050,27.550,27.67,55566440
2013-02-04,Monday,False,27.440,28.020,27.420,27.90,50539942
2013-02-05,Tuesday,False,27.495,27.660,27.360,27.60,35410361
2013-02-06,Wednesday,False,27.340,27.540,27.250,27.42,41889572
2013-02-07,Thursday,False,27.283,27.390,27.100,27.36,38034068
2013-02-08,Friday,False,27.550,27.710,27.310,27.35,33320436
2013-02-11,Monday,False,27.860,27.920,27.500,27.62,32248148
2013-02-12,Tuesday,False,27.880,28.000,27.750,27.85,35991329
2013-02-13,Wednesday,False,28.030,28.110,27.880,27.98,41716060
2013-02-14,Thursday,False,28.040,28.060,27.870,27.87,32663454
2013-02-15,Friday,False,28.010,28.160,27.875,28.05,49657740
2013-02-18,Monday,False,28.010,28.010,28.010,28.01,0
2013-02-19,Tuesday,False,28.045,28.090,27.800,27.94,38806870
2013-02-20,Wednesday,False,27.870,28.200,27.830,28.12,44112446
2013-02-21,Thursday,False,27.490,27.740,27.230,27.70,49085538
2013-02-22,Friday,False,27.760,27.760,27.480,27.69,31430018
2013-02-25,Monday,False,27.370,28.050,27.370,27.95,48020353
2013-02-26,Tuesday,False,27.370,27.600,27.340,27.38,49925050
2013-02-27,Wednesday,False,27.810,28.000,27.330,27.37,36395589
2013-02-28,Thursday,False,27.800,27.970,27.740,27.88,35840861

## `pd.DateOffset` Objects

In [53]:
#stocks = data.DataReader(name = "GOOG", data_source = "google",
#                start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks.head(3)

,Day of Week,Is Start of Month,Close,High,Low,Open,Volume
Date,,,,,,,
2010-01-01,Friday,True,30.48,30.99,30.48,30.98,0
2010-01-04,Monday,False,30.95,31.10,30.59,30.65,38414185
2010-01-05,Tuesday,False,30.96,31.10,30.64,30.87,49758862

In [54]:
stocks.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2015-09-13 03:42:00', '2015-09-16 03:42:00',
               '2015-09-17 03:42:00', '2015-09-18 03:42:00',
               '2015-09-19 03:42:00', '2015-09-20 03:42:00',
               '2015-09-23 03:42:00', '2015-09-24 03:42:00',
               '2015-09-25 03:42:00', '2015-09-26 03:42:00',
               ...
               '2023-08-30 03:42:00', '2023-08-31 03:42:00',
               '2023-09-01 03:42:00', '2023-09-02 03:42:00',
               '2023-09-03 03:42:00', '2023-09-06 03:42:00',
               '2023-09-07 03:42:00', '2023-09-08 03:42:00',
               '2023-09-09 03:42:00', '2023-09-10 03:42:00'],
              dtype='datetime64[ns]', name='Date', length=2086, freq=None)

## More Fun with `pd.DateOffset` Objects

In [55]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [56]:
#stocks = data.DataReader(name = "GOOG", data_source = "google",
#                start = dt.date(2000, 1, 1), end = dt.datetime.now())

stocks.head(3)

,Day of Week,Is Start of Month,Close,High,Low,Open,Volume
Date,,,,,,,
2010-01-01,Friday,True,30.48,30.99,30.48,30.98,0
2010-01-04,Monday,False,30.95,31.10,30.59,30.65,38414185
2010-01-05,Tuesday,False,30.96,31.10,30.64,30.87,49758862

In [57]:
stocks.index - MonthEnd()
stocks.index - BMonthEnd()
stocks.index - QuarterEnd()
stocks.index - QuarterBegin()

DatetimeIndex(['2009-12-01', '2009-12-01', '2009-12-01', '2009-12-01',
               '2009-12-01', '2009-12-01', '2009-12-01', '2009-12-01',
               '2009-12-01', '2009-12-01',
               ...
               '2017-12-01', '2017-12-01', '2017-12-01', '2017-12-01',
               '2017-12-01', '2017-12-01', '2017-12-01', '2017-12-01',
               '2017-12-01', '2017-12-01'],
              dtype='datetime64[ns]', name='Date', length=2086, freq=None)

In [58]:
stocks.index - YearBegin()

DatetimeIndex(['2009-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2017-01-01', '2017-01-01', '2017-01-01', '2017-01-01',
               '2017-01-01', '2017-01-01', '2017-01-01', '2017-01-01',
               '2017-01-01', '2017-01-01'],
              dtype='datetime64[ns]', name='Date', length=2086, freq=None)

## The `Timedelta` Object

In [59]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [60]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [61]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [62]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [63]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [64]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## `Timedeltas` in a Dataset

In [65]:
shipping = pd.read_csv("pandas/ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [66]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [67]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [68]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [69]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [70]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [71]:
mask = shipping["Delivery Time"] == "3423 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16     3423 days    2008-12-29

In [72]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')